@model Query

@{
    ViewData["Title"] = "Запити";
}

<h1>Запити</h1>
<hr />

<h3>Прості</h3>
<hr />

<p style="font-size:20px">
    <b>Запит 1</b>
</p>
<p style="font-size:17px">
    Знайти всі країни розробників, в яких ігри із статусом X
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="SimpleQuery1">
            <input type="hidden" asp-for="ProdName" value="dummy" />
            <input type="hidden" asp-for="Price" value="0" />
            <div class="form-group">
                <label class="control-label">Статус X</label>
                <select asp-for="StatusName" asp-items="@ViewBag.StatusNames" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Шукати" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />

<p style="font-size:20px">
    <b>Запит 2</b>
</p>
<p style="font-size:17px">
    Знайти всі прізвища покупців, що купили щонайменше одну гру розробника X
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="SimpleQuery2">
            <input type="hidden" asp-for="ProdName" value="dummy" />
            <input type="hidden" asp-for="Price" value="0" />
            <div class="form-group">
                <label class="control-label">Розробник Х</label>
                <select asp-for="DevName" asp-items="@ViewBag.DevNames" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Шукати" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />

<p style="font-size:20px">
    <b>Запит 3</b>
</p>
<p style="font-size:17px">
    Знайти всі статуси ігор які не випускає розробник X
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="SimpleQuery3">
            <input type="hidden" asp-for="ProdName" value="dummy" />
            <input type="hidden" asp-for="Price" value="0" />
            <div class="form-group">
                <label class="control-label">Розробник Х</label>
                <select asp-for="DevName" asp-items="@ViewBag.DevNames" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Шукати" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />

<p style="font-size:20px">
    <b>Запит 4</b>
</p>
<p style="font-size:17px">
    Знайти найбільшу ціну гри розробника X
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="SimpleQuery4">
            <input type="hidden" asp-for="ProdName" value="dummy" />
            <input type="hidden" asp-for="Price" value="0" />
            <div class="form-group">
                <label class="control-label">Розробник Х</label>
                <select asp-for="DevName" asp-items="@ViewBag.DevNames" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Шукати" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />

<p style="font-size:20px">
    <b id="q5">Запит 5</b>
</p>
<p style="font-size:17px">
    Знайти всі імена розробників, які випускають щонайменше одну гру вартістю не меньше ніж X
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="SimpleQuery5">
            <input type="hidden" asp-for="ProdName" value="dummy" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input maxlength="28" id="price" asp-for="Price" class="form-control" />
                <span class="text-danger">@ViewBag.PriceError</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Шукати" class="btn btn-success" onclick="submit5()" />
            </div>
        </form>
    </div>
</div>
<hr />

<p style="font-size:20px">
    <b>Запит 6</b>
</p>
<p style="font-size:17px">
    Знайти покупців, що мають ігри із жанром X та ціною більше ніж Y
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="SimpleQuery6">
            <div class="form-group">
                <label class="control-label">Жанр Х</label>
                <select asp-for="GenreName" asp-items="@ViewBag.GenreNames" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input maxlength="28" id="price" asp-for="Price" class="form-control" />
                <span class="text-danger">@ViewBag.PriceError</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Шукати" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />

<h3>Множинні</h3>
<hr />

<p style="font-size:20px">
    <b>Запит 1</b>
</p>
<p style="font-size:17px">
    Знайти email покупців, які придбали точно ті ж самі програмні продукти, що й покупець з призвіщем E.
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="AdvancedQuery1">
            <input type="hidden" asp-for="ProdName" value="dummy" />
            <input type="hidden" asp-for="Price" value="0" />
            <div class="form-group">
                <label class="control-label">Прізвище E</label>
                <select asp-for="CustSurname" asp-items="@ViewBag.CustLastNames" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Надіслати" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />

<p style="font-size:20px">
    <b>Запит 2</b>
</p>
<p style="font-size:17px">
    Знайти імена та email-и покупців з прізвищем І, які придбали всі наявні програмні продукти.
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="AdvancedQuery2">
            <input type="hidden" asp-for="ProdName" value="dummy" />
            <input type="hidden" asp-for="Price" value="0" />
            <div class="form-group">
                <label class="control-label">Прізвище І</label>
                <select asp-for="CustSurname" asp-items="@ViewBag.CustLastNames" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Надіслати" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />

<p style="font-size:20px">
    <b>Запит 3</b>
</p>
<p style="font-size:17px">
    Знайти назви країн, розробники з яких продають програмні продукти принаймні за всіма тими цінами, що й розробник із кодом К
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="AdvancedQuery3">
            <input type="hidden" asp-for="ProdName" value="dummy" />
            <input type="hidden" asp-for="Price" value="0" />
            <div class="form-group">
                <label class="control-label">Код розробника К</label>
                <select asp-for="DevId" asp-items="@ViewBag.DevIds" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Надіслати" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />

<div class="container" style="display:none">
    <h3>Запити від викладача</h3>
    <hr />

    <p style="font-size:20px;">
        <b>Запит 1</b>
    </p>
    <p style="font-size:17px">
        Знайти ..
    </p>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="TeacherQuery1">
                <input type="hidden" asp-for="ProdName" value="dummy" />
                <input type="hidden" asp-for="Price" value="0" />
                <div class="form-group">

                </div>
                <div class="form-group">
                    <input type="submit" value="Надіслати" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <hr />

    <p style="font-size:20px;">
        <b>Запит 2</b>
    </p>
    <p style="font-size:17px">
        Знайти ..
    </p>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="TeacherQuery2">
                <input type="hidden" asp-for="ProdName" value="dummy" />
                <input type="hidden" asp-for="Price" value="0" />
                <div class="form-group">

                </div>
                <div class="form-group">
                    <input type="submit" value="Надіслати" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <hr />
</div>


<form method="get" asp-controller="Home" asp-action="Index">
    <input type="submit" class="btn btn-primary" value="На головну" />
</form>

@section scripts
{
    <script>
        window.addEventListener("load", function () {
            if ('@ViewBag.ErrorFlag' == 1) {
                document.getElementById("q4").scrollIntoView();
            }
            else if ('@ViewBag.ErrorFlag' == 2) {
                document.getElementById("q5").scrollIntoView();
            }
        });
    </script>
}