@model IEnumerable<Order>

@{
    ViewData["Title"] = "Замовлення";
}

@if (ViewBag.CustomerId == 0)
{
    <h1>Замовлення</h1>
}
else
{
<h1>Замовлення @ViewBag.Customer</h1>
}

<table class="table">
    <thead>
        <tr>
            @if (ViewBag.CustomerId == 0)
            {
                <th>
                    Email
                </th>
            }
            <th>
                Назва Гри
            </th>
            <th>
                Розробник
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.CustomerId == 0)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Email)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Developer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>

<table>
    <tr>
        @if (ViewBag.CustomerId != 0)
        {
            <td>
                <form method="get" asp-controller="Customers" asp-action="Index">
                    <input type="submit" class="btn btn-primary" value="Назад" />
                </form>
            </td>
        <td></td>
        <td></td>
        <td></td>
        }
    </tr>
</table>